<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<table class="table table-stryped">
				<thead>
					<h2>User Info</h2>
				</thead>

				<tbody>
					<tr>
						<th><%= @user.kana_family_name %></th>
						<th><%= @user.kana_first_name %></th>
					</tr>
					<tr>
						<th><%= @user.family_name %></th>
						<th><%= @user.first_name %></th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
